/* start main */

*{
    margin: 0; 
    padding: 0%;
   box-sizing: border-box;
   font-family: 'Outfit', sans-serif;
}
.clear{
   clear:  both;
}
.container{ 
    width: 80%;
    margin: 0 auto; }

/* end main */ 

/* start nav*/ 
.nav {
   margin:0%;
   height: 12vh;
   background-color: #2c3e50;
   color: rgb(255, 255, 255);
   padding: 1% 0;
   width: 100vw;
   overflow: hidden;
   position: fixed;    
   top: 0;
   z-index:80;
   }
.onscroll{
       height: 10vh;
       padding: 0;
   }

.nav .logo{
     float: left;
     padding: 1%;
     height: 4vh;
     margin: 0% 10%;
     background-color: #2c3e50;
}

.nav .menu{
float: right;
list-style-type: none;
width: 35vw; 
padding: 1%;
margin: 0%;
}
.nav .menu .items{
float: left;
padding: 1% 5%;
height: 4vh;

}

 a{
   background-color: #2c3e50;
   color:rgb(255, 255, 255);
   text-decoration: none;
   text-transform: uppercase;
   padding: 0;
 }
 a:hover{

   color: #1abc9c;
}

.menu .items .active{
   padding: 6% 4%;
   border: 1px solid #1abc9c;
   background-color:#1abc9c;
   border-radius: 10%;
   height: fit-content;
 }
 .menu .items .active:hover{
   color: rgb(255, 255, 255);
 }

/* end nav*/
/*start difinition*/
.difinition{
    background-color: #1abc9c; 
    height: 100vh;
    position: relative; 
}
.difinition img 
    {
    height: 35vh;
    width: 15vw;
    position: absolute;
    top: 20%;
    left: 42%;
    }
.difinition .hidding
{
    position: absolute; 
    top: 62%;
    left: 50%;
    transform: translate(-50% , -50%);
    color:rgb(255, 255, 255);
    font-size: 4vw;
}

.difinition .line1,
.difinition .fa-star,.difinition .line2 {
        color: #ffffff;
    }
    
.difinition .fa-star {
        margin-top: 66vh;
        margin-left: 1vw;
        float: left;
        font-size: 3vw;
    }
    
.difinition .line1 {
        margin-top: 61vh;
        margin-left: 35.5%;
        font-size: 9vw;
        float: left;
    }
    
 .difinition .line2 {
        margin-top:61vh;
        margin-left: 1%;
        font-size: 9vw;
        float: left;
    } 
.difinition .hidding-2
    {
        position: absolute;
        top:82%;
        left: 50%;
        transform: translate(-50% , -50%);
        color:rgb(255, 255, 255);
        font-size: 1.4vw;
    } 
  /* end difinition */
  